section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img {
    width: 30vw;
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}
.info-box p {
    background: linear-gradient(to right, rgb(0,157,255), rgb(255,0,255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.btn-group {
    display: flex;
    gap: 1rem;
}
.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    color: white;
    background-color: black;
}
.socials {
    display: flex;
    gap: 2rem;
}
.socials img {
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.socials img:hover {
    transform: scale(1.1);
}