.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.experience img {
    width: 24vw;
    border-radius: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2);
    gap: 2rem;
}
.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.grid-card:hover {
    transform: scale(1.02);
    background-color: black;
    color: white;
}
.grid-card img {
    width: max-content;
    max-width: max-content;
    height: 1.5rem;
    margin-bottom: 1rem;
}
.grid-card p {
    font-size: 1.5rem;
    font-weight: 500;
    text-wrap: nowrap;
    background: linear-gradient(to right, rgb(0,157,255), rgb(255,0,255));
    background-clip: text;
    color: transparent;
}